/* General */
@font-face {
    font-family: 'IRANSANS';
    src: url('../assets/font/woff/IRANSansWeb.woff') format('woff'), url('../assets/font/ttf/IRANSansWeb.ttf') format('truetype');
    font-style: normal;
}

@font-face {
    font-family: 'IRANSANS BOLD';
    src: url('../assets/font/woff/IRANSansWeb_Bold.woff') format('woff'), url('../assets/font/ttf/IRANSansWeb_Bold.ttf') format('truetype');
    font-style: normal;
}

@font-face {
    font-family: 'Lalezar';
    src: url('../assets/font/woff/Lalezar-Regular.woff') format('woff'), url('../assets/font/ttf/Lalezar-Regular.ttf') format('truetype');
    font-style: normal;
}

html,body{
    font-family: 'IRANSANS';
    height: 100%;
}

::selection{
    background: #eee;
}

@media(max-width:768px){
    #app{
        height: 100%;
    }
}